---
export interface Props {
  yapeImage: string;
}

const { yapeImage } = Astro.props;
---

<div
  id="yape-dialog"
  class="fixed z-10 inset-0 overflow-y-auto opacity-0 pointer-events-none transition-opacity duration-300"
>
  <div class="flex items-center justify-center min-h-screen">
    <div class="fixed inset-0 bg-black opacity-50"></div>
    <div
      class="bg-[#FEFCF0] dark:bg-neutral-800 rounded-lg shadow-lg z-20 p-6 max-w-md mx-auto"
    >
      <img src={yapeImage} alt="Yape QR Code" class="w-full mb-4" />
      <button
        id="close-dialog"
        class="px-4 py-2 bg-neutral-800 text-white rounded-md shadow-md hover:bg-neutral-700 transition-colors duration-300"
        >Close</button
      >
    </div>
  </div>
</div>
